/*
* @Author: liuqi
* @Date:   2018-08-17 18:00:38
* @Last Modified by:   liuqi
* @Last Modified time: 2018-08-17 18:05:27
*/
@font-face {
	font-family: 'Pao Fu';
	font-style: normal;
	font-weight: 400;
	src: url('./sfont.eot');
	src: url('./sfont.eot?#iefix') format('embedded-opentype'),
	url('./sfont.ttf') format('truetype'),
	url('./sfont.woff') format('woff'),
	url('./sfont.woff2') format('woff2'),
	url('./sfont.svg') format('svg');
}