/*
* @Author: liuqi
* @Date:   2018-08-17 18:00:38
* @Last Modified by:   liuqi
* @Last Modified time: 2018-08-17 18:05:27
*/
@font-face {
	font-family: 'Pao Fu';
	font-style: normal;
	font-weight: 400;
	src: url('./paofu/sfont.eot');
	src: url('./paofu/sfont.eot?#iefix') format('embedded-opentype'),
	     url('./paofu/sfont.ttf') format('truetype'),
	     url('./paofu/sfont.woff') format('woff'),
	     url('./paofu/sfont.woff2') format('woff2'),
	     url('./paofu/sfont.svg') format('svg');
}
